<div class="card my-5">
    <form class="example-form" onsubmit="">
        <mat-form-field class="example-full-width">
            <mat-label>Computer Name</mat-label>
            <input matInput placeholder="Enter Computer Name" value="computerName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Enter description" name="description" id="description" cols="30" rows="10"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter user name" value="userName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>User Surname</mat-label>
            <input matInput placeholder="Enter user surname" value="userSurname">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Windows Version</mat-label>
            <input matInput placeholder="Enter Windwos version" value="winVersion">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Last update</mat-label>
            <input matInput placeholder="When was the last update?" value="lastUpdate">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Domain Migration</mat-label>
            <input matInput placeholder="Is this computer already migrated?" value="domainMigration">
        </mat-form-field>
        <button mat-button class="btn btn-primary">text</button>
    </form>
</div>
