<div class="card my-5">
    <div class="card-body">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let computer">
                <button mat-stroked-button class="btn btn-primary" (click)="openEdit('EDIT', computer)">Edit</button>
                <button mat-stroked-button color="warn" class="btn btn-danger" (click)="delete(computer)">Delete</button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
          <mat-cell *matCellDef="let computer"> {{ computer.id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="computerName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Computer Name</mat-header-cell>
          <mat-cell *matCellDef="let computer"> {{ computer.computerName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let computer"> {{ computer.description }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
          <mat-cell *matCellDef="let computer"> {{ computer.userName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="userSurname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>User Surname</mat-header-cell>
          <mat-cell *matCellDef="let computer"> {{ computer.userSurname }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="winVersion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Windows Version</mat-header-cell>
          <mat-cell *matCellDef="let computer"> {{ computer.winVersion }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastUpdate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Update</mat-header-cell>
          <mat-cell *matCellDef="let computer"> {{ computer.lastUpdate | date: "dd/MM/yyyy" }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="domainMigration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Domain Migration</mat-header-cell>
          <mat-cell *matCellDef="let computer"> {{ computer.domainMigration }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
        <button mat-stroked-button (click)="openEdit('NEW')">Add Computer</button>
    </div>
</div>
